html {
    height: 100%;
}
body {
    /* background-color: rgb(211, 185, 151); */
    font-size: 1 rem;
}
header {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    height: 70px;
}
.header-container {
    width: 90%;
    height: 100%;
    /* background-color: chartreuse; */
    margin: 0px auto;
    display: flex;
    align-items: center;
}
.logo {
    /* background-color: darkmagenta; */
    flex: 1 1;
}
.nav {
    /* background-color: coral; */
    flex: 2 1;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-right: 50px; 
}
.menu-buttons {
    /* background-color: cyan; */
    flex: 3 1;
}
.menu-buttons ul {
    display: flex;
    justify-content: flex-end;
}
.menu-buttons li {
    margin-left: 30px; 
}
.header-button a {
    background-color: #001f64;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}
.header-button a:hover {
    background-color: #002064a6;
    color: white;
    transition: 2 sec;
}
.burger-icon {
    display: none;
}
.main1 {
    /* background-color: darkorchid; */
    width: 100%;
    height: 600px;
}
.inner-main1 {
    width: 90%;
    height: 100%;
    background-color: darkred;
    margin: 0px auto;
    display: flex;
}
.hero1 {
    background-color: darksalmon;
    height: 100%;
    flex: 1;
}
.hero2 {
    background-color: rgb(122, 233, 165);
    height: 100%;
    flex: 1;
}



.container {
    /* background-color: deeppink; */
    width: 90%;
    min-height: 1000px;
    margin: 0px auto;
}
.card {
    background-color: white;
    height: 400px;
    width: 100%;
    margin-top: 50px;
    box-shadow: 0px 0px 4px rgb(179, 179, 179);
    display: flex;
    flex-wrap: wrap;
}
.hero1-card {
    background-color: rgb(255, 255, 255);
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}
.card-text {
    /* background-color: rgb(34, 138, 14); */
    margin: 0px 40px;
}
.main-card-text {
    margin: 20px 0px;
}
.main-card-text h2 {
    font-size: 2.5rem;
}
.card-button {
    margin-top: 30px;
}
.card-button a {
    background-color: blue;
    color: white;
    padding: 10px 15px;
}









.hero2-card {
    background-image: url(images/sample.png);
    height: 100%;
    flex: 1;
}



/* Responsive settings for tablet */

@media (max-width: 1023px) {
    .logo {
        /* background-color: darkmagenta; */
        flex: 1 1 100px;
    }

}


/* Responsive settings for tablet */

@media (max-width: 812px) {
    .nav {
        display: none;
    }
    .burger-icon {
        display: block;
    }

}

/* Responsive settings for mobile */

@media (max-width: 488px) {
    .nav {
        display: none;
    }
    .del-menu {
        display: none;
    }
    .burger-icon {
        display: block;
    }

}